<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDj_V-Ab5_Tbszb7HPwLbXeeOIWuRB8Ns</string>
	<key>GCM_SENDER_ID</key>
	<string>191236326014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.healthapp.ios</string>
	<key>PROJECT_ID</key>
	<string>healthapp-36186</string>
	<key>STORAGE_BUCKET</key>
	<string>healthapp-36186.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191236326014:ios:f6727474408ae9fcc60e2f</string>
</dict>
</plist>